mixin verses(showAuthor)
  p
    each verse in verses || []
      if showAuthor && verse.author
        span.lead.mt-3.mb-2.d-block=verse.author

      span.verse(id=`ayat-${verse.position}`)
        a(href=`/${verse.chapter_id}:${verse.position}`): span=`${verse.chapter_id}:${verse.position}`
        span=verse.text

doctype html

html(lang="ru" data-bs-theme="dark")
  head
    meta(name='description' content='Сайт, посвященный переводам Священного Корана на русский язык. Читайте Коран, ищете аяты')
    meta(name='keywords' content='Коран, читать коран, коран хронологический порядок, читать коран онлайн, коран на русском, коран чтение')
    meta(name='description' content='Сайт для удобного чтения Корана в хронологическом порядке. Доступны переводы И. Ю. Крачковского, Э. Р. Кулиева.')
    meta(name='keywords' content='Коран, читать коран, коран хронологический порядок, читать коран онлайн, коран на русском, коран чтение')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='icon' type='image/png' href='/favicon/favicon-96x96.png' sizes='96x96')
    link(rel='icon' type='image/svg+xml' href='/favicon/favicon.svg')
    link(rel='shortcut icon' href='/favicon/favicon.ico')
    link(rel='apple-touch-icon' sizes='180x180' href='/favicon/apple-touch-icon.png')
    link(rel='manifest' href='/favicon/site.webmanifest')

    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css")
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7' crossorigin='anonymous')
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/main.css')
    block head

  body.d-flex.flex-column.justify-content-between.min-vh-100
    nav.navbar.navbar-expand-lg.bg-body-tertiary
      .container-xxl
        a.navbar-brand(href='/')
          img(src='/images/logo.svg', alt='Logo', width='24', height='24')
          span.ps-1.d-none.d-sm-inline.fw-bold Перевод Корана
        .navbar-nav.me-auto.d-none.d-md-flex.flex-row
          a(href='/').nav-link.px-1 Суры
          a(href='/topic').nav-link.px-1 Темы
          a(href='/chronological').nav-link.px-2 Хронология
        .navbar-form
          select.form-select(aria-label='Default select example').js-translation-select.d-flex.ms-auto
            option(value='1') Кулиев Э. Р. О.
            option(value='2') Крачковский И. Ю.
            option(value='3') Абу Адель.
            option(value='4') Османов М. Н. О.
            option(value='5') Порохова В. М.

          form(action="/search").d-flex
            .input-group
              input.form-control(type='search' value=query || '' name="query" placeholder='Поиск аятов' aria-label='Search')
              button.btn.btn-outline-success(type='submit')
                i.bi.bi-search

    main.container.flex-fill
      button.btn.btn-fixed.js-to-top-btn.d-none.btn-dark.btn-sm вверх
      block content

    footer.mt-5
      nav.navbar.navbar-expand-lg.bg-body-tertiary
        .container-xxl
            ul.navbar-nav.me-auto.flex-row
              li.nav-item.px-2
                a.nav-link(aria-current='page' href='/') Суры
              li.nav-item.px-2
                a.nav-link(href='/topic') Темы
              li.nav-item.px-2
                a.nav-link(href='/chronological') Хронология
            span.navbar-text.ps-2
              small.text-muted=`2017-${currentYear}`
                | &nbsp;| &nbsp;
              a(href='/')
                small readquran.ru &nbsp;
                small=`v${version}`
    script(src='/javascripts/main.js')
