extends ./layouts/application.pug

block content
  .row.justify-content-md-center
    .col-md-8.col-sm-12
      .mb-4.mt-4.text-center
        h1.mb-0: strong(style="word-break: break-all;")=`${chapter.id}. Сура «${chapter.name}»`
        small: i=`Перевод ${translation.author} `
        small: i=`Хронолоческий порядок ${chapter.chronological_order}.`
        h5.mt-2 С именем Аллаха, Милостивого, Милосердного!

  .row
    .col-md-8.col-sm-12.m-auto
      +verses
    nav.pt-3.pb-5
      ul.pagination.d-flex.justify-content-center
          if chapter.id > 1
            li.page-item: a.page-link(href=`/${chapter.id-1}`) Предыдущая сура
          if chapter.id < 114
            li.page-item: a.page-link(href=`/${chapter.id+1}`) Следующая сура
