extends ./layouts/application.pug

block head
  title=`${topic.id}. Тема «${topic.name}»`

block content
  .row.justify-content-md-center
    .col-md-8.col-sm-12
      .my-3.text-center
        h1.mb-0: strong=`${topic.id}. Тема «${topic.name}»`
        small: i=`Автор перевода ${translation.author} `

  .row: .col
      +verses
